*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: grey;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}
.logo{
    width: 120px;
    padding-top: 5px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 15px;
}
.item:hover{
    color: black;
    cursor: pointer;
}